<div class="container-fluid middle changePasswordForm">
<h2>Change Password</h2>
{{#if message}}<small class="form-text text-muted alert"><i class="fa fa-exclamation"></i>  {{message}}</p></small>{{/if}}
<form method="post" action="/changepassword/" id="changepassword_form">
  <div class="form-group">
    <label for="old_password">Password</label>
    <input type="password" class="form-control" id="old_password" name="old_password" placeholder="Current Password" required>
  </div>
  <fieldset>
  <div class="form-group">
    <label for="password">New Password</label>
    <input type="password" class="form-control" id="new_password" name="new_password" placeholder="New Password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" required>
    <input type="password" class="form-control" id="confirm_password" name="confirm_password" placeholder="New Password" required>
    <small id="emailHelp" class="form-text text-muted">Must be at least 8 characters containing at least one number and one uppercase letter</small>
  </div>
  </fieldset>
  <button type="submit" class="btn btn-success" id="submitBtn">Change Password</button>
</form>
</div>