
{{#if user}}
<div class="container-fluid middle">
    <h2>You are logged into VotePlex</h2>
</div>
{{else}}
<div class="container-fluid middle">
    <div class="row justify-content-center">
        <div class="col-md-4">
            <i class="fa fa-rocket redIcon"></i>
            <h3>Live Results</h3>
            <p>Live graphs show your poll results immediately in an easy to understand format. One graph will not provide the whole picture, that's why we provide multiple graphs to better describe your results.</p>
        </div>
        <div class="col-md-4">
            <i class="fa fa-cloud-upload yellowIcon"></i>
            <h3>Works Everywhere</h3>
            <p>Traditional desktop computers now represent only 30% of internet traffic. Your poll must works on the tablets, smartphones, netbooks and notebooks that your visitors are using. Our responsive designs do just that.</p>
        </div>
        <div class="col-md-4">
            <i class="fa fa-handshake-o blueIcon"></i>
            <h3>Social Integration</h3>
            <p>Free integrated facebook or traditional comments allow your poll voters to provide immediate feedback and discuss results. Social share buttons encourage your poll voters to help spread the word.</p>
        </div>
    </div>    
</div>
{{/if}}

<div id="signature" class="text-center middle">
<p>coded by <a href="https://www.linkedin.com/in/leah-carr-5b2421135/?trk=nav_responsive_tab_profile_pic" target="_blank">Leah Carr</a>
for freecodecamp <a href="https://www.freecodecamp.org/challenges/build-a-voting-app" target="_blank">Voting App</a> challenge.</p>
<p>Git Repository here: <a href="https://github.com/attributeofextension/voting-app" target="_blank">https://github.com/attributeofextension/voting-app</a></p>
<p>We lost our dear cat Cecil while I was working on this project. So I dedicate this , my first proper website, to you dearest Cecil</p>
<p>Dear Cecil<br>May you rest in peace.</p>
<img src="https://image.ibb.co/jmOXcG/cecil_may_we_meet_again.jpg" alt="cecil_may_we_meet_again" border="0">
<p>May we meet again</p>
</div>
