<div class="container-fluid middle loginForm">
{{#if message}}<small class="form-text text-muted alert"><i class="fa fa-exclamation"></i>  {{message}}</p></small>{{/if}}
<form method="post" action="/login/" enctype="application/x-www-form-urlencoded" id="login_form">
     <div class="form-group">
        <label for="email">Email address</label>
        <input type="email" class="form-control" id="signupEmail" name="email" placeholder="Enter email" required>
      </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" class="form-control" id="signupPassword" name="password" placeholder="Password" required>
  </div>
  <div class="row justify-content-center">
      <button type="submit" class="btn btn-success">Login</button>
      <button type="button" class="btn btn-warning" id="lg-signup">Sign up</button>
  </div>
</form>
</div>
<script src="/scripts/login.js"></script>